  @font-face {
    font-family: "fontName";
    src: url(Font/From\ Cartoon\ Blocks.ttf);
  }

  @font-face {
    font-family: "fontStatus";
    src: url(Font/Basic\ Comical\ Regular\ NC.ttf);
  }

  body {
    background-image: url(Img/the-background-352165_1280.png);
    margin: 0;

  }

  h2 {
    font-family: "fontStatus";
    font-size: 7vh;
    margin : 1rem;

  }


   li, p{
    font-family: "fontStatus";
    font-size: 1.5rem;
    margin : 1.5rem;
    }


    /*----------Open cover----------------*/

    .open-cover {
      background-image: url(Img/the-background-352165_1280.png);
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }

    .pet-name {
      text-align: center;
      font-family: "fontName";
      font-size: 13vh;
      padding : 5px;
      margin: 5px;
    }

    
  .description-box{
    align-items: center;
      justify-content: space-around;
      width: 70%;
  }

    .tricks {
      border : solid;
      align-items: center;
      justify-content: space-around; 
      border-radius: 50px;
      display: flex;
      width: 70%;
      background-color: lightblue
    }
/* ---------GAME ---------------*/

  #game {
    background-image: url(Img/the-background-352165_1280.png);
    overflow: hidden;
    border: solid;
    border-radius: 50px;
    padding: 6vw;
  }

  .flex-end {
    display: flex;
    justify-content: flex-end;
  }

  .flex-start {
    display: flex;
    justify-content: flex-start;
  }

  .center { 
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    padding: 10px;
    margin : 20px;
  }
  
  .left {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center ;
  }

  .points {
    display: flex;
    flex-direction: row;
   align-self: center;
   justify-content: center;
   width: 30%;
  }
  


/*----------status bars--------- */

  .nav-bar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: nowrap;
  }

  .nav-items {
    font-family: "fontStatus" ;
    width: 20vw;
    height: auto;
    flex-wrap: nowrap;
  }

  .box-width {
    width: 30vw;
    height: auto;
  }

    /* ---------Pet--------- */

  .pet {
    width: 40vh;
    height: auto;
    padding: 10px;
    margin: 5px;
    padding: 10px;
  }

  #pet {
    position: absolute;
    height: 20vh;
    width: auto;
  }

/*------POO-----*/

  .poo {
    display: flex; 
    justify-content : flex-end;
    height: auto;
    width: 5vh;
   }

  .poo-left { 
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    padding: 10px;
    margin : 20px;
    width: 20vw;
}

/* ---------ANIMATIONS--------------*/

    .explosion#pet {
      transition: transform 2s;
    }

    .explosion-trans#pet {
      transform: scale(2);
    }

    .implosion#pet {
      transition: transform 3s;
    }

    .implosion-trans#pet {
      transform: scale(1);
    }

    .animate {
      position: relative; 
      height: 20vh;
      width: 30%;
      animation: bounce 3s infinite; 
    }

    #startPause {
      transition: transform .8s ease-in-out;  
      height: 10vw;
      width: auto;
    }
    
      #startPause:hover {
          transform:rotate(45deg);
      }
    
  /* General Buttons */

  @import url(https://fonts.googleapis.com/css?family=Open+Sans:400,600,700);

.btn {
  background: linear-gradient(to bottom, #21556d 0%,#389ed5 100%);
  border: none;
  border-radius: 50px;
  border-bottom: 4px solid #2b8bc6;
  color: #fbfbfb;
  font-weight: 600;
  font-size: 3vh;
  font-family: 'Open Sans', sans-serif;
  text-shadow: 1px 1px 1px rgba(0,0,0,.4);
  box-shadow: 0px 3px 0px 0px rgba(0,0,0,.2);
  cursor: pointer; 
  padding: 5px;
  height: 5vh;
  width: 10vw;
}

.btn:hover {
  background: #21556d ;
  transform: scale(1.5);

}

/* Status btn */

.meter {
  display: flex;
  justify-content: flex-start; 
  height: 20px; 
	background: #555;
	-moz-border-radius: 25px;
	-webkit-border-radius: 25px;
	border-radius: 25px;
	padding: 10px;
	box-shadow: inset 0 -1px 1px rgba(255,255,255,0.3);
}

#fun {
  width: 100%;
  padding: 2px;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  background-color: rgb(43,194,83);
  background-image: linear-gradient(
    center bottom,
    rgb(43,194,83) 37%,
    rgb(84,240,84) 69%
  );
  box-shadow: 
    inset 0 2px 9px  rgba(255,255,255,0.3),
    inset 0 -2px 6px rgba(0,0,0,0.4);
}

#hunger {
  width: 100%;
  padding: 2px;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  background-color: rgb(43,194,83);
  background-image: linear-gradient(
    center bottom,
    rgb(43,194,83) 37%,
    rgb(84,240,84) 69%
  );
  box-shadow: 
    inset 0 2px 9px  rgba(255,255,255,0.3),
    inset 0 -2px 6px rgba(0,0,0,0.4);
}

#hygiene {
  width: 100%;
  padding: 2px;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  background-color: rgb(43,194,83);
  background-image: linear-gradient(
    center bottom,
    rgb(43,194,83) 37%,
    rgb(84,240,84) 69%
  );
  box-shadow: 
    inset 0 2px 9px  rgba(255,255,255,0.3),
    inset 0 -2px 6px rgba(0,0,0,0.4);
}

#energy {
  width: 100%;
  padding: 2px;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  background-color: rgb(43,194,83);
  background-image: linear-gradient(
    center bottom,
    rgb(43,194,83) 37%,
    rgb(84,240,84) 69%
  );
  box-shadow: 
    inset 0 2px 9px  rgba(255,255,255,0.3),
    inset 0 -2px 6px rgba(0,0,0,0.4);
}

/*--------PET TRANSITION KEYFRAMES----------*/

  @keyframes explosion {
    0% {transform: scale(1);}
  50% {transform: scale(1.5);}
  100% {transform: scale(1);}
  }

  

  @keyframes bounce {
    0% {
      top: -20%;
    }
  
    50% {
      top: 30%;
    }

    100% {
      top: -20%;
    }
  }

  /* --------Media Querie----------*/

  @media [(media-features)] {
    // Styles
  }